<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.main.dao.prfm.AuthCenterDao">

    <select id="getPageResult" resultType="java.util.Map">
        select * from
        ( select * ,row_number() over
        ( order by mkey, mvalue asc ) n
        from (${sqlstr}) a
        where 1=1
        ) a
        where a.n &gt; #{start}
        and a.n &lt;= #{end}
    </select>

    <select id="getCountResult" resultType="java.lang.Integer">
      select count(1) as count from (${sqlstr}) a
    </select>

    <select id="getAuthPage" resultType="java.util.Map">
        select * from
        ( select * ,row_number() over ( order by mtarg,mtargname asc ) n
        from pd_authcenter
        where 1=1 and companyid = #{bridge.companyid}
        and funcode = #{funcode} and morig = #{morig}
        <choose>
            <when test="keyword != null and keyword != '' and keyword != 'null' and keyword != '请输入关键字'">
                and ( mtarg like '${keyword}%' or mtargname like '${keyword}%')
            </when>
        </choose>
        ) a
        where a.n &gt; #{start}
        and a.n &lt;= #{end}
    </select>

    <select id="getAuthCount" resultType="java.lang.Integer">
      select count(1) as count from (select * from pd_authcenter
        where 1=1 and companyid = #{bridge.companyid}
        and funcode = #{funcode} and morig = #{morig}
        <choose>
            <when test="keyword != null and keyword != '' and keyword != 'null' and keyword != '请输入关键字'">
                and ( mtarg like '${keyword}%' or mtargname like '${keyword}%')
            </when>
        </choose>) a
    </select>

    <insert id="addAuth">
      INSERT INTO pd_authcenter(pkid,companyid,funcode,morig,morigname,mtarg,mtargname)
      VALUES (#{authCenter.pkid},#{authCenter.companyid},#{authCenter.funcode}
      ,#{authCenter.morig},#{authCenter.morigname},#{authCenter.mtarg},#{authCenter.mtargname})
    </insert>

    <delete id="delAuth">
      DELETE FROM pd_authcenter where pkid = #{pkid}
    </delete>
    <delete id="delAuthByMorig">
      DELETE FROM pd_authcenter where morig = #{morig} and companyid=#{bridge.companyid}
    </delete>
</mapper>