<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.main.dao.prfm.KaoHeBiLiDao">
    <resultMap id="BaseResultMap" type="com.main.pojo.prfm.KaoHeBiLi">
    	<id column="kid" property="kid" jdbcType="VARCHAR"/>
	    <result column="companyid" property="companyid" jdbcType="VARCHAR"/>
	    <result column="deptId" property="deptId" jdbcType="VARCHAR"/>
	    <result column="zbId" property="zbId" jdbcType="VARCHAR"/>
	    <result column="zpbl" property="zpbl" jdbcType="VARCHAR"/>
	    <result column="zkkbl" property="zkkbl" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    kid,companyid,deptId,zbId,zpbl,zkkbl
    </sql>
    <sql id="Column_List">
    t1.kid,t1.companyid,t1.deptId,t1.zbId,t1.zpbl,t1.zkkbl,t2.text as zhiBiaoName
    </sql>

    <sql id="Add_Column_List">
    kid,companyid,deptId,zbId,zpbl,zkkbl
    </sql>
    <select id="selectBykid" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
    from PD_KHBL
        where kid = #{id}
    </select>
    <select id="getAutoGeneralID" resultType="java.util.Map">
        select max(kid) as id
    from PD_KHBL
        where 1=1
    </select>
    <select id="getCount" resultType="java.util.Map">
        select count(1) as count
    from PD_KHBL
        where 1=1
        and companyid = #{companyid}
        <choose>
            <when test="keyword != null and keyword != '' and keyword != 'null' and keyword != '请输入关键字'">
                and (
                  kid like '${keyword}%'
                                  )
            </when>
        </choose>
    </select>

    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
    from PD_KHBL
        where 1=1 and companyid = #{companyid}
    </select>

    <!--如果不是带年份的表，需要自己加入年份过滤，这里不好知道年份字段的数据库名称 -->
    <select id="validator" resultType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
    from PD_KHBL
        where 1=1 and ${key} = #{value} and companyid = #{bridge.companyid}
    </select>


    <select id="get" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
    from PD_KHBL
        where 1=1 and companyid = #{companyid}
        <choose>
            <when test="keyword != null and keyword != '' and keyword != 'null' and keyword != '请输入关键字'">
            
                and (
                  kid like '${keyword}%'
                                  )
            </when>
            <otherwise>
            </otherwise>
        </choose>
        order by kid
    </select>

    <select id="getPage" resultType="com.main.pojo.result.KaoHeBiLiResult" parameterType="Object">
        select
        kid,companyid,deptId,zbId,zpbl,zkkbl,zhiBiaoName
        from
        (
            select
             <include refid="Column_List"/>
            ,row_number() over
            (
            order by
                 kid asc
            ) n
           from PD_KHBL t1 left join PM_Norm t2 on t2.uid=t1.zbid
            where 1=1
            and t1.companyid = #{companyid}
            <if test="deptId!=null and deptId!=''" >
	        and t1.deptId =#{deptId}
            </if>
            <choose>
                <when test="keyword != null and keyword != '' and keyword != 'null' and keyword != '请输入关键字'">
                    and (
                          t1.zbid like '${keyword}%' or t2.text like '${keyword}%'
                                              )
                </when>
            </choose>
        ) a
        where a.n &gt; #{start}
        and a.n &lt;= #{end}
    </select>

    <insert id="insert" parameterType="map">
        insert into
            PD_KHBL
        (
        <include refid="Add_Column_List"/>
        )
        values(#{kid},#{companyid},#{deptId},#{zbId},#{zpbl},#{zkkbl})
    </insert>

    <update id="update" parameterType="map">
        update
            PD_KHBL
        set
                kid = #{kid},
                companyid = #{companyid},
                deptId = #{deptId},
                zbId = #{zbId},
                zpbl = #{zpbl},
                zkkbl = #{zkkbl}        where kid = #{whereId}
    </update>
    <delete id="deleteByPrimaryKey" parameterType="map">
        delete from
            PD_KHBL
        where kid = #{id}
    </delete>
    <delete id="deleteAll">
          delete from PD_KHBL where 1=1

    </delete>
</mapper>