<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.main.dao.prfm.MidDataDao">
    <resultMap id="BaseResultMap" type="com.main.pojo.prfm.MidData">
        <id column="pkid" property="pkid" jdbcType="VARCHAR"/>
        <id column="companyid" property="companyid" jdbcType="VARCHAR"/>
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="deptorper" property="deptorper" jdbcType="INTEGER"/>
        <result column="month" property="month" jdbcType="INTEGER"/>
        <result column="data" property="data" jdbcType="DECIMAL"/>
        <result column="process" property="process" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    pkid,companyid,bh,id,deptorper,month,data,process
    </sql>


    <sql id="Add_Column_List">
    pkid,companyid,bh,id,deptorper,month,data,process
    </sql>
    <select id="selectByid" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from PD_MIDDATA${year}
        where id = #{id}
    </select>
    <select id="getAutoGeneralID" resultType="java.util.Map">
        select max(id) as id
    from PD_MIDDATA${bridge.year}
        where 1=1
    </select>

    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from PD_MIDDATA${year}
        where 1=1 and companyid = #{companyid}
        <choose>
            <when test="midBh != null and midBh !='' and midBh !='null' '">
                and id = #{midBh}
            </when>
        </choose>
    </select>

    <!--如果不是带年份的表，需要自己加入年份过滤，这里不好知道年份字段的数据库名称 -->
    <select id="validator" resultType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        from PD_MIDDATA${bridge.year}
        where 1=1 and ${key} = #{value} and companyid = #{bridge.companyid}
    </select>


    <select id="get" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from PD_MIDDATA${year}
        where 1=1 and companyid = #{companyid}
        <choose>
            <when test="keyword != null and keyword != '' and keyword != 'null' and keyword != '请输入关键字'">
                and ( bh like '${keyword}%' )
            </when>
            <otherwise>
            </otherwise>
        </choose>
        order by id,bh
    </select>

    <select id="getDeptPage" resultMap="BaseResultMap" parameterType="map">
        select
        pkid,id,companyid,bh,deptorper,month,data,process,name
        from
        (
        select
        a.pkid,a.id,b.companyid,b.deptid bh,'1' as deptorper,a.month,isnull(a.data,0) data,isnull(a.process,'') process,b.deptname name
        ,row_number() over
        (
        order by
        b.deptid,b.deptname asc
        ) n
        from PD_MIDDATA${year} a right join PM_DEPT_MB b on a.bh=b.deptid
        and a.companyid = b.companyid and b.yearmonth=#{yearmonth}
        where 1=1
        <if test="midbh != null and midbh!=''">
            and a.id = #{midBh}
        </if>
        and b.yearmonth=#{yearmonth}
        and a.month = #{month}
        and b.isleaf=1
        and b.companyid = #{companyid}
        <choose>
            <when test="keyword != null and keyword != '' and keyword != 'null' and keyword != '请输入关键字'">
                and ( b.deptid like '${keyword}%' or b.deptname like '%${keyword}%' )
            </when>
        </choose>
        ) a
        where a.n &gt; #{start}
        and a.n &lt;= #{end}
    </select>

    <select id="getPerPage" resultMap="BaseResultMap" parameterType="map">
        select
        pkid,companyid,id,bh,deptorper,month,data,process,name
        from
        (
        select
        a.pkid,c.companyid,a.id,c.userid bh,'2' as deptorper,a.month,isnull(a.data,0) data,isnull(process,'') process,
        c.username as name
        ,row_number() over
        (
        order by
        c.userid,c.username asc
        ) n
        from PD_MIDDATA${year} a
        right join PM_USER c on a.bh=c.userid and a.companyid = c.companyid
        where 1=1
        <if test="midbh != null and midbh!=''">
            and a.id = #{midBh}
        </if>
        and a.month = #{month}
        and c.companyid = #{companyid}
        <choose>
            <when test="keyword != null and keyword != '' and keyword != 'null' and keyword != '请输入关键字'">
                and ( c.userid like '${keyword}%'  or c.username like '%${keyword}%' )
            </when>
        </choose>
        ) a
        where a.n &gt; #{start}
        and a.n &lt;= #{end}
    </select>

    <insert id="insertBatch">
        insert into
        PD_MIDDATA${year} (
        <include refid="Add_Column_List"/>
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (newid(),#{item.companyid},#{item.bh},#{item.id},#{item.deptorper},#{item.month},#{item.data},#{item.process})
        </foreach>
    </insert>

    <insert id="insert" parameterType="map">
        insert into
        PD_MIDDATA${year}
        (
        <include refid="Add_Column_List"/>
        )
        values(newid(),#{companyid},#{bh},#{id},#{deptorper},#{month},#{data},#{process})
    </insert>

    <update id="update" parameterType="map">
        update
            PD_MIDDATA${year}
        set
                companyid = #{companyid},
                id = #{id},
                bh = #{bh},
                deptorper = #{deptorper},
                month = #{month},
                data = #{data},
                process = #{process}        where pkid = #{whereId}
    </update>
    <delete id="deleteByMidBh" parameterType="map">
        delete from
            PD_MIDDATA${year}
        where id = #{midBh}
    </delete>
    <delete id="deleteAll">
            delete from PD_MIDDATA${year} where 1=1 and id=#{midBh}

    </delete>
</mapper>