<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.main.dao.prfm.MidDataDicDao">
    <resultMap id="BaseResultMap" type="com.main.pojo.prfm.MidDataDic">
    	<id column="companyid" property="companyid" jdbcType="VARCHAR"/>
    	<id column="id" property="id" jdbcType="VARCHAR"/>
	    <result column="name" property="name" jdbcType="VARCHAR"/>
	    <result column="type" property="type" jdbcType="INTEGER"/>
	    <result column="isstop" property="isstop" jdbcType="VARCHAR"/>
	    <result column="parentid" property="parentid" jdbcType="VARCHAR"/>
	    <result column="deptorper" property="deptorper" jdbcType="INTEGER"/>
	    <result column="dec" property="dec" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    companyid,id,name,type,isstop,parentid,deptorper,dec
    </sql>


    <sql id="Add_Column_List">
    companyid,id,name,type,isstop,parentid,deptorper,dec
    </sql>
    <select id="selectByid" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
    from PD_MIDDATADIC
        where id = #{id} and companyid=#{companyid}
    </select>
    <select id="getAutoGeneralID" resultType="java.util.Map">
        select max(id) as id
    from PD_MIDDATADIC
        where 1=1
    </select>
    <select id="getCount" resultType="java.util.Map">
        select count(1) as count
    from PD_MIDDATADIC
        where 1=1
        and companyid = #{companyid}
        <choose>
            <when test="keyword != null and keyword != '' and keyword != 'null' and keyword != '请输入关键字'">
                and (
                  id like '${keyword}%'
                   or
                  name like '${keyword}%'
                                  )
            </when>
        </choose>
    </select>

    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
    from PD_MIDDATADIC
        where 1=1 and companyid = #{companyid}
        <if test="id != null and id != '' and id != 'null'">
            and id = #{id}
        </if>
    </select>

    <select id="getByType" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from PD_MIDDATADIC
        where 1=1 and companyid = #{companyid} and type = #{type}
        order by id
    </select>

    <select id="getByParentid" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from PD_MIDDATADIC
        where 1=1 and companyid = #{bridge.companyid} and parentid = #{chooseParentId}
        order by id
    </select>
    <!--如果不是带年份的表，需要自己加入年份过滤，这里不好知道年份字段的数据库名称 -->
    <select id="validator" resultType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
    from PD_MIDDATADIC
        where 1=1 and ${key} = #{value} and companyid = #{bridge.companyid}
    </select>


    <select id="get" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
    from PD_MIDDATADIC
        where 1=1 and companyid = #{companyid}
        <choose>
            <when test="keyword != null and keyword != '' and keyword != 'null' and keyword != '请输入关键字'">
            
                and (
                  id like '${keyword}%'
                   or
                  name like '${keyword}%'
                                  )
            </when>
            <otherwise>
            </otherwise>
        </choose>
        order by id
    </select>

    <select id="getPage" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>,parentname,companyname
        from
        (
            select
            A.companyid,A.id,A.name,A.type,A.isstop,A.parentid,A.deptorper,A.dec,B.NAME AS parentname,C.companyname
            ,row_number() over
            (
            order by
                 A.companyid,A.id asc
            ) n
           from PD_MIDDATADIC A LEFT JOIN PD_MIDDATADICPARENT B ON A.COMPANYID = B.COMPANYID AND A.PARENTID=B.ID
            LEFT JOIN PM_COMPANY C ON A.COMPANYID=C.COMPANYID
            where 1=1
            and A.companyid = #{companyid}
            <choose>
                <when test="keyword != null and keyword != '' and keyword != 'null' and keyword != '请输入关键字'">
                    and (
                          A.id like '${keyword}%'
                           or
                          A.name like '${keyword}%'
                                              )
                </when>
            </choose>
        ) a
        where a.n &gt; #{start}
        and a.n &lt;= #{end}
    </select>

    <insert id="insert" parameterType="map">
        insert into
            PD_MIDDATADIC
        (
        <include refid="Add_Column_List"/>
        )
        values(#{companyid},#{id},#{name},#{type},#{isstop},#{parentid},#{deptorper},#{dec})
    </insert>

    <update id="update" parameterType="map">
        update
            PD_MIDDATADIC
        set
                companyid = #{companyid},
                name = #{name},
                type = #{type},
                isstop = #{isstop},
                parentid = #{parentid},
                deptorper = #{deptorper},
                dec = #{dec}        where id = #{whereId}
    </update>
    <delete id="deleteByPrimaryKey" parameterType="map">
        delete from
            PD_MIDDATADIC
        where id = #{id}
    </delete>
    <delete id="deleteAll">
          delete from PD_MIDDATADIC where 1=1

    </delete>
</mapper>