<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.main.dao.prfm.TransformDao">
    <resultMap id="BaseResultMap" type="com.main.pojo.prfm.Transform">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="companyid" property="companyid" jdbcType="VARCHAR"/>
        <result column="theyear" property="theyear" jdbcType="VARCHAR"/>
        <result column="themonth" property="themonth" jdbcType="VARCHAR"/>
        <result column="typeID" property="typeID" jdbcType="VARCHAR"/>
        <result column="type_name" property="type_name" jdbcType="VARCHAR"/>
        <result column="condition_id" property="condition_id" jdbcType="VARCHAR"/>
        <result column="adjustment_id" property="adjustment_id" jdbcType="VARCHAR"/>
        <result column="condition_name" property="condition_name" jdbcType="VARCHAR"/>
        <result column="adjustment_name" property="adjustment_name" jdbcType="VARCHAR"/>
        <result column="adjustment_value" property="adjustment_value" jdbcType="VARCHAR"/>
        <result column="condition_value" property="condition_value" jdbcType="VARCHAR"/>
        <result column="order_num" property="order_num" jdbcType="VARCHAR"/>
        <result column="transform_percent" property="transform_percent" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getDataByType" resultMap="BaseResultMap" parameterType="Map">
        select
        *
        from  dbo.PM_TRANSFORM
        where companyid = #{companyID} and theyear = #{theyear} and themonth = #{themonth}
              and typeID = #{typeID}
    </select>


    <insert id="save" parameterType="com.main.pojo.prfm.Transform">
        insert into
        dbo.PM_TRANSFORM (id,companyid,theyear ,themonth ,typeID,type_name,condition_id,adjustment_id
        ,condition_name,adjustment_name,condition_value,adjustment_value,order_num,transform_percent)
        values(newid(),#{companyid},#{theyear},#{themonth},#{typeID},#{type_name},#{condition_id},#{adjustment_id}
        ,#{condition_name},#{adjustment_name},#{condition_value},#{adjustment_value},#{order_num},#{transform_percent});
    </insert>

    <delete id="del"  parameterType="com.main.pojo.prfm.Transform">
        delete from
        dbo.PM_TRANSFORM
        where companyid=#{companyid} and theyear=#{theyear} and themonth=#{themonth} and id=#{id}

    </delete>

    <update id="update">
        update  dbo.PM_TRANSFORM
        SET condition_id = #{condition_id},adjustment_id = #{adjustment_id}
        ,condition_name = #{condition_name},adjustment_name = #{adjustment_name},condition_value = #{condition_value},
        adjustment_value = #{adjustment_value},transform_percent = #{transform_percent}
        where
            companyid = #{companyid} and
            theYear = #{theyear} and
            theMonth = #{themonth} and
            id = #{id}


    </update>

    <update id="transformItem" >
        update t1
        set
          t1.${target} = case when t2.adjustment_id is not null then t2.adjustment_id ELSE  t1.${target} END
        FROM
         ${tableName}${year} t1
        left join PM_TRANSFORM t2
        on t1.companyid = t2.companyid and t1.${target} = t2.condition_id and t2.typeid = #{typeId}
          and #{year} = t2.theYear
        where
          t1.companyid = #{companyid} and
          t1.month = #{month}
    </update>


    <update id="transformAfter" >
        <!-- 转换后调整 门诊-->
        update
          dbo.PD_MZ${year}
        SET
        <foreach collection="adjustmentIds" item="adjust" separator="," index="index1">
            <foreach collection="adjustmentValues" item="value" index="index2" >
                <if test="index1 == index2 ">
                    ${adjust} = #{value}
                </if>
            </foreach>
        </foreach>
        where
          companyid = #{companyid} and
          month = #{month}
        <foreach collection="conditionIds" item="condition" separator="," index="index1">
            <foreach collection="conditionValues" item="value" separator="," index="index2">
                <if test=" index1 == index2" >
                    AND ${condition} = #{value}
                </if>
            </foreach>
        </foreach>

        <!-- 转换后调整 住院-->
        update
        dbo.PD_ZY${year}
        SET
        <foreach collection="adjustmentIds" item="adjust" separator="," index="index1">
            <foreach collection="adjustmentValues" item="value" index="index2" >
                <if test="index1 == index2 ">
                    ${adjust} = #{value}
                </if>
            </foreach>
        </foreach>
        where
        companyid = #{companyid} and
        month = #{month}
        <foreach collection="conditionIds" item="condition" separator="," index="index1">
            <foreach collection="conditionValues" item="value" separator="," index="index2">
                <if test=" index1 == index2" >
                    AND ${condition} = #{value}
                </if>
            </foreach>
        </foreach>
    </update>

    <delete id="deleteOriginalData">
        delete from dbo.PD_ZY${year}
        where
            companyid = #{companyid} and
            month = #{month}

        delete from dbo.PD_MZ${year}
        where
            companyid = #{companyid} and
            month = #{month}
    </delete>

    <insert id="insertOriginalData">
        insert into dbo.PD_ZY${year}
            (pkid,companyid,month,day,itembh,itemtypebh,ticketbh,sbmbh,sgrbh
            ,zbmbh,zgrbh,amount,count,ICD,reverse,brbh,reverse1,reverse2,reverse3,reverse4)
        select pkid,hospital,${month},'',item,'itemtypebh','ticketbh',order_dept,order_staff
          ,do_dept,do_staff,money,count,'icd',remark,'','','','',''
        FROM dbo.VPM_IPD${year}
        where
           hospital = #{companyid} and
           charge_time like '${year}-${month}-%'

        insert into dbo.PD_MZ${year}
            (pkid,companyid,month,day,itembh,itemtypebh,ticketbh,sbmbh,sgrbh
            ,zbmbh,zgrbh,amount,count,ICD,reverse,brbh,reverse1,reverse2,reverse3,reverse4)
        select pkid,hospital,${month},'',item,'itemtypebh','ticketbh',order_dept,order_staff
          ,do_dept,do_staff,money,count,'icd',remark,'','','','',''
        FROM dbo.VPM_OPD${year}
        where
           hospital = #{companyid} and
           charge_time like '${year}-${month}-%'

    </insert>
</mapper>