<!DOCTYPE html>
<html lang="zh-CN" xmlns:th=http://www.thymeleaf.org>
<head th:include="base4 :: Common_Head('')"></head>
<body>
<link rel="stylesheet" type="text/css" th:href="@{/extjs/zTree_v3/css/zTreeStyle/zTreeStyle.css}"/>
<script type="text/javascript" src="extjs/zTree_v3/js/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="extjs/zTree_v3/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="extjs/zTree_v3/js/jquery.ztree.excheck.js"></script>
<!-- 这里引入自己的js文件，必须要有入口方法  init  -->
<script type="text/javascript" src="app/application/RoleInfo.js"></script>
</body>
</html>

